.article {
  &__title,
  h1.article__title {
    @extend .content__title;
  }

  .entry-content {
    & > h1:not(.article__title) {
      margin-bottom: 25px;
      font: 700 32px/1.5 $font-montserrat;
      text-align: center;
    }

    & > h2:not(.article__title),
    & > h3:not(.article__title) {
      margin-bottom: 20px;
      font: 500 27px/1.5 $font-montserrat;
      text-align: center;
    }

    & > p:not(.content__description) {
      margin-bottom: 20px;
      font: 400 16px/1.5 $font-open-sans;
    }

    & > a {
      color: $blue;
      border-bottom: 1px solid $blue;

      &:hover {
        color: $blue-hover;
        border-bottom-color: transparent;
      }
    }

    & > img {

    }

    & > ul,
    & > ol {
      list-style: none;
      margin-bottom: 30px;
    }

    & > li {

    }
  }

  &--contacts {

  }
}
