.colsIcon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 50px auto -5%;

  &__col {
    flex-basis: 31%;
    margin: 0 3.5% 5% 0;
    text-align: center;

    &:nth-child(3n),
    &:last-child {
      margin-right: 0;
    }
  }

  &__iconWrapper {
    margin-bottom: 20px;
    height: 80px;
    line-height: 80px;
  }

  &__icon {
    vertical-align: middle;
    max-width: 80px;
    max-height: 80px;
  }

  &__title {
    margin-bottom: 15px;
    padding: 0 15px;
    font: 500 18px/26px $font-montserrat;
    text-transform: uppercase;
  }

  &__text {
    padding: 0 15px;
    font: 400 16px/24px $font-open-sans;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .linkButton {
    margin-top: 11px;
  }
}
