// colors
$black:             #181818;
$white:             #ffffff;

$blue:              #3D81F6;
$blue-hover:        #3D97F6;
$blue-dark:         #272D44;
$gray:              #787C82;
$gray-light:        #A5ADBA;
$gray-form:         #dfdfdf;
$green:             #1aa94e;
$red:               #FC4D4D;



// animation
$transition-normal: .3s linear;
$transition-fast:   .1s linear;



// fonts
$font-open-sans:    "Open sans", sans-serif;
$font-montserrat:   'Montserrat', sans-serif;



// screen resolutions
$desktop:           'max-width: 1280px';
$tablet:            'max-width: 992px';
$mobile:            'max-width: 767px';
